@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tree Visualizer</h1>
    <p class="lead">You can Visualize your JSON File here as Tree View</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <p>
            Do you have a Json File, you can Visualize it here.
        </p>
        <p><a class="btn btn-default" href="/Home/Tree">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Previous Examples</h2>
        <p>If you upload a Json file before You can view it now.</p>
        <p><a class="btn btn-default" href="/Home/PreviousSample">Lets go &raquo;</a></p>
    </div>
    
</div>